/*#main-aside-wrapper {
    display: flex;
    flex-direction: column;
}

    #main-aside-wrapper main, #main-aside-wrapper aside {
        background-color: #ddd;
        margin: 10px;
        padding: 10px;
    }

    #main-aside-wrapper aside {
        flex: 1;
        order: 1;
    }

    #main-aside-wrapper main {
        flex: 3;
        order: 2;
    }

@media screen and (min-width: 800px) {
    #main-aside-wrapper {
        flex-direction: row;
    }
}*/

#image {
    /*ëîãî*/ 
    float: left;
    margin-left: 100px;
    width: 100px;
    height: 100px;
}

#header {
    /*øàïêà*/ 
    background-color: #ccc;
    padding: 10px;
    height: 120px;
}

#norma {
    /*ðàçìåð*/ 
    max-width: 960px;
    margin: 0 auto;
}

#name {
    /*íàçâàíèå*/ 
    margin-left: 200px;
    margin-bottom: 80px;
    background-color: #ddd;
    padding: 10px;
}

#menu {
    /*ññûëêè*/ 
    width: 500px;
    background-color: #ccc;
    margin: 10px;
    margin-left: 100px;
    padding: 50px;
}

#links {
    /*ññûëêè*/ 
    width: 500px;
    background-color: #ccc;
    margin: 10px;
    margin-left: 100px;
    padding: 50px;
}

#table {
    /*òàáëèöà*/ 
    width: 500px;
    background-color: #ccc;
    margin: 10px;
    margin-left: 100px;
    padding: 50px;
}

#forma {
    /*ôîðìà*/
    width: 500px;
    margin: 10px;
    margin-left: 100px;
    background-color: #ccc;
    padding: 50px;
}


#nechet { 
    /*íå÷¸òíûå ÿ÷åéêè*/
    background-color: red;
}

#chet { 
    /*÷¸òíûå ÿ÷åéêè*/
    background-color: seagreen;
}

#footer {
    /*ïîäâàë*/
    background-color: #ddd;
    padding: 10px;
}

@media screen and (max-device-width: 480px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #image { /*ëîãî*/
        float: left;
        margin-left: 0px;
        width: 30%;
        height: 30%;
    }
    #name { /*íàçâàíèå*/
        margin-left: 30%;
        margin-bottom: 10px;
        background-color: #ddd;
        padding: 5%;
    }
    #header { /*øàïêà*/
        width: 90%;
        margin: 5%;
        margin-left: 0;
        padding: 5%;
    }

    #norma { /*ðàçìåð*/
        float: left;
        max-width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0;
        padding: 5%;
    }

    #menu { /*ññûëêè*/
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0;
        padding: 5%;
    }

    #links { /*ññûëêè*/
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0;
        padding: 5%;
    }

    #table { /*òàáëèöà*/
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0;
        padding: 5%;
    }

    #forma { /*ôîðìà*/
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0;
        padding: 5%;
    }

    #footer { /*ïîäâàë*/
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0;
        padding: 5%;
    }
}
