#eine {
    flex-direction: column;
    display: flex;
}

#menu {
    flex: 1;
    order: 1;
}

#links {
    flex: 1;
    order: 2;
}

#tablen {
    flex: 2;
    order: 3;
}

#forman {
    flex: 2;
    order: 4;
}
#header {
    /*øàïêà*/
    background-color: #ccc;
    height: 120px;
}

#name {
    /*íàçâàíèå*/ 
    background-color: #ddd;
}

#menu {
    background-color: #ccc;
}

#links {
    /*ññûëêè*/
    background-color: #ccc;
}

#tablen {
    /*òàáëèöà*/ 
    background-color: #ccc;
}

#forman {
    /*ôîðìà*/
    background-color: #ccc;
}


#nechet { 
    /*íå÷¸òíûå ÿ÷åéêè*/
    background-color: red;
}

#chet { 
    /*÷¸òíûå ÿ÷åéêè*/
    background-color: seagreen;
}

#footer {
    /*ïîäâàë*/
    background-color: #ddd;
}

@media screen and (max-device-width: 480px) {
    #eine {
        flex-direction: column;
        display: flex;
    }

    #menu {
        flex: 1;
        order: 1;
    }

    #links {
        flex: 1;
        order: 2;
    }

    #tablen {
        flex: 1;
        order: 4;
    }

    #forman {
        flex: 1;
        order: 3;
    }
    html {
        -webkit-text-size-adjust: none;
    }
    #image { /*ëîãî*/
        float: left;
        width: 100px;
        height: 100px;
    }
    #name { /*íàçâàíèå*/

    }
    #header { /*øàïêà*/

    }

    #menu { /*ññûëêè*/

    }

    #links { /*ññûëêè*/

    }

    #tablen { /*òàáëèöà*/

    }

    #forman { /*ôîðìà*/
    }

    #footer { /*ïîäâàë*/
    }
}
