#image {
    /*ëîãî*/ float: left;
    margin-left: 100px;
    width: 100px;
    height: 100px;
}

#header {
    /*øàïêà*/ background-color: #ccc;
    padding: 10px;
    height: 120px;
}

#norma {
    /*ðàçìåð*/ max-width:960px;
    margin: 0 auto;
}

#name {
    /*íàçâàíèå*/ margin-left: 200px;
    margin-bottom: 80px;
    background-color: #ddd;
    padding: 10px;
}

#menu {
    /*ññûëêè*/
    width:500px;
    background-color: #ccc;
    margin: 10px;
    margin-left: 100px;
    padding: 50px;
}

#links {
    /*ññûëêè*/ width:500px;
    background-color: #ccc;
    margin: 10px;
    margin-left: 100px;
    padding: 50px;
}

#table {
    /*òàáëèöà*/ margin: 10px;
    width: 500px;
    background-color: #ccc;
    margin: 10px;
    margin-left: 100px;
    padding: 50px;
}

#forma {
    /*ôîðìà*/ 
    width:500px;
    margin: 10px;
    margin-left: 100px;
    background-color: #ccc;
    padding: 50px;
}


#nechet {/*íå÷¸òíûå ÿ÷åéêè*/ 
    background-color: red;
}

#chet { /*÷¸òíûå ÿ÷åéêè*/
    background-color: seagreen;
}

#footer {
    /*ïîäâàë*/ 
    background-color: #ddd;
    padding: 10px;
}
