#header {
    /*øàïêà*/
    background-color: #ccc;
    height: 120px;
}

#name {
    /*íàçâàíèå*/ 
    background-color: #ddd;
}

#menu {
    background-color: #ccc;
    margin: 10px;
}

#links {
    /*ññûëêè*/
    background-color: #ccc;
    margin: 10px;
}

#table {
    /*òàáëèöà*/ 
    background-color: #ccc;
    margin: 10px;
}

#forma {
    /*ôîðìà*/
    margin: 10px;
    background-color: #ccc;
}


#nechet { 
    /*íå÷¸òíûå ÿ÷åéêè*/
    background-color: red;
}

#chet { 
    /*÷¸òíûå ÿ÷åéêè*/
    background-color: seagreen;
}

#footer {
    /*ïîäâàë*/
    background-color: #ddd;
    padding: 10px;
}

@media screen and (max-device-width: 480px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #image { /*ëîãî*/
        float: left;
        width: 70px;
        height: 70px;
    }
    #name { /*íàçâàíèå*/
        background-color: #ddd;
        padding: 2%;
    }
    #header { /*øàïêà*/
        width: 100%;
        padding: 3%;
    }

    #menu { /*ññûëêè*/
        width: 100%;
        padding: 3%;
    }

    #links { /*ññûëêè*/
        width: 100%;
        padding: 3%;
    }

    #table { /*òàáëèöà*/
        width: 100%;
        padding: 3%;
    }

    #forma { /*ôîðìà*/
        width: 100%;
        padding: 3%;
    }

    #footer { /*ïîäâàë*/
        width: 100%;
        padding: 3%;
    }
}
