#image {
    /*лого*/ float: left;
    margin-left: 100px;
    width: 100px;
    height: 100px;
}

#header {
    /*шапка*/ background-color: #ccc;
    padding: 10px;
    height: 120px;
}

#norma {
    /*размер*/ max-width:960px;
    margin: 0 auto;
}

#name {
    /*название*/ margin-left: 200px;
    margin-bottom: 80px;
    background-color: #ddd;
    padding: 10px;
}

#menu {
    /*ссылки*/ меню width:500px;
    background-color: #ccc;
    margin: 10px;
    margin-left: 100px;
    padding: 50px;
}

#links {
    /*ссылки*/ width:500px;
    background-color: #ccc;
    margin: 10px;
    margin-left: 100px;
    padding: 50px;
}

#table {
    /*таблица*/ margin: 10px;
    width: 500px;
    background-color: #ccc;
    margin: 10px;
    margin-left: 100px;
    padding: 50px;
}

#forma {
    /*форма*/ 
    width:500px;
    margin: 10px;
    margin-left: 100px;
    background-color: #ccc;
    padding: 50px;
}


#nechet {/*нечЄтные €чейки*/ 
    background-color: red;
}

#chet { /*чЄтные €чейки*/
    background-color: seagreen;
}

#footer {
    /*подвал*/ 
    background-color: #ddd;
    padding: 10px;
}
