
body {
    margin: 0;
}

nav {
    max-width: auto; 
    margin:0 auto;
}

#form {  
    margin: 10px; 
    background-color:#ccc; 
    padding:50px;
}

#name {
    /*��������*/ 
    margin-left: 200px;
    margin-bottom: 80px;
    background-color: #ddd;
    padding: 10px;
}

#menu {
    /*������*/ 
    width: 500px;
    background-color: #ccc;
    margin: 10px;
    margin-left: 100px;
    padding: 50px;
}

#links {
    /*������*/ 
    width: 500px;
    background-color: #ccc;
    margin: 10px;
    margin-left: 100px;
    padding: 50px;
}

#table {
    /*�������*/ 
    width: 500px;
    background-color: #ccc;
    margin: 10px;
    margin-left: 100px;
    padding: 50px;
}

#forma {
    /*�����*/
    width: 500px;
    margin: 10px;
    margin-left: 100px;
    background-color: #ccc;
    padding: 50px;
}


#nechet { 
    /*�������� ������*/
    background-color: red;
}

#chet { 
    /*������ ������*/
    background-color: seagreen;
}

#footer {
    /*������*/
    background-color: #ddd;
    padding: 10px;
}

@media screen and (max-device-width: 480px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #image { /*����*/
        float: left;
        margin-left: 0px;
        width: 100px;
        height: 100px;
    }
    #name { /*��������*/
        margin-left: 30%;
        margin-bottom: 10px;
        background-color: #ddd;
        padding: 2%;
    }
    #header { /*�����*/
        width: 100%;
        margin: 3%;
        margin-left: 0;
        padding: 3%;
    }

    #norma { /*������*/
        max-width: 100%;
        margin: 0 auto;
    }

    #menu { /*������*/
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 0;
        padding: 3%;
    }

    #links { /*������*/
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 0;
        padding: 3%;
    }

    #table { /*�������*/
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 0;
        padding: 3%;
    }

    #forma { /*�����*/
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 0;
        padding: 3%;
    }

    #footer { /*������*/
        width: 100%;
        margin-top: 3%;
        margin-left: 0;
        padding: 3%;
    }
}
